.Button_theme_default {
    border-radius: 5px;
    border: 1px solid #D2D5D6;

    background-color: #fff;

    line-height: 35px;

    color: #2196F3;
    font-weight: 500;
    font-size: 12px;
}

.Button_theme_default.Button_hovered {
    background-color: #F2FCFF;

    border-color: #64B5F5;
}
